<footer class="bg-light text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <ul class="social-network">
        <li><a href="#" class="icoFacebook p-2" title="Facebook">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a></li>
        <li><a href="#" class="icoInstagram p-2" title="Instagram">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a></li>
        <li><a href="#" class="icoLinkedin p-2" title="Linkedin">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a></li>
      </ul>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 contato">
    © 2021 Copyright:
    <a class="text-white" href="mailto:rf.oliveira00@gmail.com?subject=Página">@rf.oliveira00</a>
  </div>
  <!-- Copyright -->
</footer>