<div class="container mb-4">
    <h1 class="mt-4 mb-4">Entre em Contato concosco</h1>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Digite seu nome" [(ngModel)]='nome'>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com" [(ngModel)]='email'>
    </div>
    <div class="mb-3">
        <label for="mensagem" class="form-label">Mensagem</label>
        <textarea class="form-control" id="mensagem" rows="4" [(ngModel)]='mensagem'></textarea>
    </div>
    <div>
        <button class="btn btn-outline-dark" (click)='sendMail()'>Enviar</button>
    </div>
</div>

